.container.contact__container{
    width: 60%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}
.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact__option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}
.contact__option-icon{
    font-size: 2rem;
    margin-bottom: 0.5;
}
.contact__option a{
    font-size: 1.3rem;
    margin-top: 0.7rem;
    display: inline-block;
}
/*form*/
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input,textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}
/* media queries : medium*/
@media screen and (max-width: 900px) {
   .container.contact__container{
    grid-template-columns: 1fr;
    gap: 2rem;
   }
}
/* media queries : small*/
@media screen and (max-width: 500px){
    .container.contact__container{
       width: var(--conteiner-width-sm);
       }
}